html {
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size:100px;
  color: tan;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
strong {
  color: blue;
}
#Brushes
h2 {
  background-color: lightgreen;
}
#Frames
h2{
  background-color: pink;
}
#Paints
h2{
  background-color: lightblue;
}
